.navbar {
    background-color: #c8b6ff;
}

.nav-link {
    color: black;
}

.logo {
    color: blueviolet;
}

/*media query for navbar*/
@media screen and (max-width: 992px) {
    .navbar-nav {
        flex-direction: row;
    }

    .navbar-nav .nav-link {
        padding-right:10px;
        padding-left:10px;

    }
}

.footer {
    background-color: #c8b6ff;
}

body {
    background-color: #ffd6ff;
    font-family: 'Catamaran', sans-serif;
}

.main-bg {
    background-color:#ffd6ff;
    width: 100%;
}
/* Home page */
h1 {
    font-family: 'Monserrat', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.intro-msg,
.profile {
    text-align: center;
    margin: 100px 20px 20px 20px;
    line-height: 30px;
    font-size: 20px;
}

.btn-signup {
    background-color: #bbd0ff;
    margin: 20px 20px;
    color:black;
    border-radius: 10px;
}

.btn-signup:hover {
    background-color: #b8c0ff;
}

.btn-link {
    text-decoration: none;
}

/*blog page */
.author {
    color: black;
}

.card {
    margin: 100px 20px 20px 20px;
    border: 0;
}

.card-body {
    background-color: #bbd0ff;
    border: 1px solid #b8c0ff;
}

a.post-link {
    color:black;
    text-decoration: none;
}

a.post-link:hover {
    color:blueviolet;
}

/*media query for blog page */

@media screen and (max-width: 767px) {
    .card {
        margin: 100px 10px 0 10px;
    }
}

/* profile-page */

.profile-item {
    list-style: none;
    text-align: center;
}

/* publish page */

.publish-form-container {
    width: 60%;
    margin: auto;
    margin-top: 100px;

}

.my-blogs-container {
    margin: 70px 20px 20px 20px;
    width: 80%;
    display: block;
}

.title {
    margin-left: 20px;
}