.navbar {
    background-color: #c8b6ff;
    padding: 20px;
}

.footer {
    background-color: #c8b6ff;
}

body {
    background-color: #ffd6ff;
    font-family: 'Catamaran', sans-serif;
}

.main-bg {
    background-color:#ffd6ff;
    width: 100%;
}
/* Home page */
h1 {
    font-family: 'Monserrat', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.intro-msg {
    text-align: center;
    margin: 100px 20px 20px 20px;
    line-height: 30px;
}

.btn-signup {
    background-color: #bbd0ff;
    margin: 50px 20px;
    color:black;
    border-radius: 10px;
}

.btn-signup:hover {
    background-color: #b8c0ff;
}

.btn-link {
    text-decoration: none;
}