.navbar {
    background-color: #c8b6ff;
}

.nav-link {
    color: #240046;
}

.nav-link:hover {
    color: #fff;
}

.logo {
    color: #240046;
}

.nav-link.btn {
    border: none;
}
/*media query for navbar*/
@media screen and (max-width: 992px) {
    .navbar-nav {
        flex-direction: row;
    }

    .navbar-nav .nav-link {
        padding-right:10px;
        padding-left:10px;

    }
    .navbar-toggler {
        border: 1px solid #240046;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
}

.footer {
    background-color: #c8b6ff;
}

body {
    background-color: #ffd6ff;
    font-family: 'Catamaran', sans-serif;
}

.main-bg {
    background-color:#ffd6ff;
    width: 100%;
}
/* Home page */
.main-title {
    margin-bottom: 20px;
}
h1 {
    font-family: 'Monserrat', sans-serif;
    text-align: center;
    margin-top: 100px;
}

.intro-msg,
.profile {
    text-align: center;
    margin: 100px 20px 20px 20px;
    line-height: 30px;
    font-size: 20px;
}

.btn-signup {
    background-color: #bbd0ff;
    margin: 20px 20px;
    color:#240046;
    border-radius: 10px;
}

.btn-signup:hover {
    background-color: #b8c0ff;
    color: #fff;
}

.btn-link {
    text-decoration: none;
}

.btn-lg {
    margin: 10px;
}
/*blog page */
.author {
    color: #240046;
}

.card {
    margin: 100px 20px 20px 20px;
    border: 0;
    background-color: #ffd6ff;
}

.card-body {
    background-color: #bbd0ff;
    border: 1px solid #b8c0ff;
}

a.post-link {
    color:#240046;
    text-decoration: none;
}

a.post-link:hover {
    color:blueviolet;
}

/*media query for blog page */

@media screen and (max-width: 767px) {
    .card {
        margin: 100px 10px 0 10px;
    }
}

/* profile-page */

.profile-item {
    list-style: none;
    text-align: center;
}

/* publish page */

.publish-form-container,
.delete-container {
    width: 60%;
    margin: auto;
    margin-top: 100px;

}
/* user own blog page */
.my-blogs-container {
    margin: 70px 20px 20px 20px;
    width: 80%;
    display: block;
}

.title {
    margin-left: 20px;
    margin-top: 100px;
}

/*pagination*/
.page-link {
    background-color: #ffd6ff;
    color:#240046;
}

.card-text {
    padding: 10px;
}
.comment {
    background-color: #bbd0ff;
    border: 1px solid #b8c0ff;
}

/*blog detail page */
.col-1 {
    width: 50%;
}

/* manage blogs page */
.card-header {
    background-color: #fff;
}

a.published {
    color: #240046;
}
a.published:hover {
    color: blueviolet;
}

/*logout modal*/
.close {
    border: none;
}